@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

.center {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.note {
  background: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
